### Langue et clavier ###
d-i debian-installer/locale string fr_FR.UTF-8
d-i console-keymaps-at/keymap select fr
d-i keyboard-configuration/xkb-keymap select fr
d-i console-setup/ask_detect boolean false

### Réseau ###
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local

### Miroir Debian ###
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Comptes ###
d-i passwd/root-password password root
d-i passwd/root-password-again password root
d-i passwd/user-fullname string Alan
d-i passwd/username string alan
d-i passwd/user-password password root
d-i passwd/user-password-again password root

### Fuseau horaire ###
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i clock-setup/ntp boolean true

### Partitionnement automatique (LVM) ###
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/early_warning boolean false
d-i partman/choose_partition select finish
d-i partman/finish/confirm boolean true
d-i partman/finish/confirm_nooverwrite boolean true

### Paquets ###
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo openssh-server curl vim git
d-i pkgsel/upgrade select none

### GRUB ###
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

### Fin d'installation ###
d-i finish-install/reboot_in_progress note

### Commande post-install ###
d-i preseed/late_command string \
    in-target loadkeys fr; \
    in-target sed -i 's/XKBLAYOUT=.*/XKBLAYOUT="fr"/' /etc/default/keyboard; \
    in-target dpkg-reconfigure -f noninteractive keyboard-configuration; \
    wget https://raw.githubusercontent.com/alanzara01/setup/refs/heads/main/setup.sh?token=GHSAT0AAAAAADCILL2II2QSEK5DFMIZLULIZ76GQFQ -O /target/root/setup.sh; \
    chmod +x /target/root/setup.sh; \
    in-target /root/setup.sh
